.banner {
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: rgb(240, 240, 240);
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}

.banner p {
  color: rgb(240, 240, 240);
  opacity: .7;
  font-size: 20px;
}
