.button-dark {
  text-decoration: none;
  color: #313131;
  border: solid 2px #313131;
  border-radius: 5px;
  padding: 10px;
  width: 25%;
  text-align: center;
}


.button-dark:hover {
  background-color: #313131;
  color: $white;

  & .btn:hover {
    color: white !important;
  }
}
