.card {
  width: 200px;
  // border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 0 0 20px 0;
  border: 1px solid rgb(230,230,230);
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  a {
    text-decoration: none;
    height: 18px;
  }
  span {
    font-size: 18px;
    color: rgb(33, 33, 33);
    font-weight: lighter;
  }
  // h2 {
  //   height: 18px;
  // }
}
.card-img {
  height: 100px;
  margin-bottom: 20px;
}

.card p {
  opacity: .5;
}

.card a {
  width: 100px;
  text-decoration: none;
}


