// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


a {
  text-decoration: none;
  color: #313131;
  border: solid 2px #313131;
  border-radius: 5px;
  padding: 10px;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: #313131;
}

.container {
  width: 900px;
  margin: auto;
}
